BasedOnStyle: Mozilla
AlignAfterOpenBracket: DontAlign
AlignOperands: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: true
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  BeforeCatch: true
  BeforeElse: true
BreakBeforeBraces: Custom
ColumnLimit: 0
ConstructorInitializerIndentWidth: 0
Cpp11BracedListStyle: true
DerivePointerAlignment: true
MaxEmptyLinesToKeep: 2
SortIncludes: false
